{# src/Sdz/BlogBundle/Resources/views/Blog/byebye.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma seconde page avec le Site du Zéro !</title>
  </head>
  <body>
	
	<h1>Hello {{ nom }} !</h1>

    <p>
      Le ByeBye World est une création de toute pièce.
      Il signifie énormément, car cela veut dire que vous avez
      réussi à exécuter le programme personnalisé pour accomplir une tâche simple :
      afficher ce byebye world !
    </p>
  </body>
</html>